
@import 'import/object/_font.scss';
@import 'import/object/_color.scss';

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

p {
	font-size: rem(16);
}

h2 {
	font-size: rem(25);
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}


li {
	list-style: none;
}

a {
	text-decoration: none;
	color: color(base-txt);
}


.wrapper {
	margin: 0 auto;
}

body {
    background: color(base);
}
.flex {
	display: flex;
}

.jc {
	justify-content: space-between;
}

.sp {
	display: none;
}



/*タブ切り替え全体のスタイル*/
.tabs {
    margin-top: 50px;
    padding-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;}

  /*タブのスタイル*/
  .tab_item {
    width: calc(100%/2);
    height: 40px;
    border-bottom: 2px solid color(gray-white);
    background-color: #d9d9d9;
    line-height: 40px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
  }
  .tab_item:hover {
    opacity: 0.75;
  }
  
  /*ラジオボタンを全て消す*/
  input[name="tab_item"] {
    display: none;
  }
  
  /*タブ切り替えの中身のスタイル*/
  .tab_content {
    display: none;
    clear: both;
    overflow: hidden;
  }
  
  
  /*選択されているタブのコンテンツのみを表示*/
  #all:checked ~ #all_content,
  #photographies:checked ~ #photographies_content,
  #pskill:checked ~ #pskill_content,
  #pcode:checked ~ #pcode_content {
    display: block;
  }
  
  /*選択されているタブのスタイルを変える*/
  .tabs input:checked + .tab_item {
    background-color: color(gray-black);
    color: color(gray-white);
  }
