@charset "UTF-8";
/* 初期文字サイズを16pxに設定 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  font-size: 1rem;
}

h2 {
  font-size: 1.5625rem;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.wrapper {
  margin: 0 auto;
}

body {
  background: #008080;
}

.flex {
  display: flex;
}

.jc {
  justify-content: space-between;
}

.sp {
  display: none;
}
