@charset "UTF-8";
/* 初期文字サイズを16pxに設定 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  font-size: 1rem;
}

h2 {
  font-size: 1.5625rem;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.wrapper {
  margin: 0 auto;
}

body {
  background: #008080;
}

.flex {
  display: flex;
}

.jc {
  justify-content: space-between;
}

.sp {
  display: none;
}

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 40px;
  border-bottom: 2px solid #C0C0C0;
  background-color: #d9d9d9;
  line-height: 40px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#photographies:checked ~ #photographies_content,
#pskill:checked ~ #pskill_content,
#pcode:checked ~ #pcode_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #656464;
  color: #C0C0C0;
}
