@charset "UTF-8";
/* 初期文字サイズを16pxに設定 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  font-size: 1rem;
}

h2 {
  font-size: 1.5625rem;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.wrapper {
  margin: 0 auto;
}

body {
  background: #008080;
}

.flex {
  display: flex;
}

.jc {
  justify-content: space-between;
}

.sp {
  display: none;
}

/*--------------------
位置の設定　grid
---------------------*/
.pc_row {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -20px;
  pointer-events: none;
}

.pc_col1 {
  padding-top: 30px;
  padding-left: 20px;
  width: 20%;
}

.pc_col2 {
  padding-top: 30px;
  padding-left: 20px;
  width: 58%;
}

.pc_col3 {
  padding-top: 30px;
  padding-left: 20px;
  width: 20%;
}

.pc_col1 > *,
.pc_col2 > *,
.pc_col3 > * {
  pointer-events: auto;
}

/*-------------------
header
--------------------*/
header ul {
  max-width: 300px;
  margin-top: 50px;
  position: fixed;
  top: 0px;
  left: 2%;
}

header ul .h-icon,
header ul .icon {
  text-align: center;
  color: #ffffff;
  display: block;
  padding: 15px;
}

header ul .h-icon img,
header ul .icon img {
  max-width: 60px;
}

/*-------------------
main 変わらん所　頭の所
*------------------*/
main {
  max-width: 900px;
  max-height: 75%;
  margin-top: 250px;
}

.bar {
  background-image: -webkit-linear-gradient(180deg, #0f83d0 0%, #000182 100%);
  background-image: -moz-linear-gradient(180deg, #0f83d0 0%, #000182 100%);
  background-image: -o-linear-gradient(180deg, #0f83d0 0%, #000182 100%);
  background-image: linear-gradient(270deg, #0f83d0 0%, #000182 100%);
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 5px;
  box-shadow: 0 0 4px inset #353F5A;
}

.bar h2 {
  color: #ffffff;
  display: inline-block;
}

.bar_txt {
  margin-left: 30px;
}

.bar img {
  margin: 5px 10px;
  max-height: 1.5625rem;
  width: auto;
}

article {
  padding: 3px 8px 10px;
  background-color: #C0C0C0;
  height: 80vh;
  overflow: hidden;
}

.pc_article {
  margin-top: 70px;
}

/*----------------------
section　中身
----------------------*/
.nakami {
  height: 72vh;
  display: block;
  background: #ccc;
  overflow-y: scroll;
}

.nakami h3 {
  font-size: 0.9375rem;
  padding: 10px 15px;
  background: #E1DBDC;
  box-shadow: 0 0 4px inset coloer(inner-shadow);
}

.nakami p {
  padding: 0.9375rem 15px;
}

/*-----------------------
footer
---------------------*/
footer small {
  height: 3.125rem;
  background-image: url("../img/copy.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0.8125rem;
  padding: 1.25rem 0.9375rem;
}

footer small .footnav {
  display: none;
}

footer .sitano1 {
  width: 100vw;
  background-image: url("../img/barsita.png");
  background-repeat: repeat-x;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  max-height: 50px;
}

footer .sitano {
  justify-content: flex-start;
}

footer .start {
  max-height: 3.125rem;
}

.iconbaitai {
  background-image: url("../img/tate.png"), url("../img/tate.png");
  background-repeat: no-repeat;
  background-position: right,left;
  background-size: contain;
  padding: 0 20px;
  margin-left: 5px;
  min-height: 1.25rem;
}

.iconbaitai img {
  max-height: 1.5625rem;
  padding: 0 5px;
  margin: 0 2px;
  margin-top: 0.9375rem;
}

/*------------------
footnav
-----------------*/
ul.gmenu {
  margin: 0;
  padding: 0;
  background-color: #C0C0C0;
}

ul.gmenu > li {
  display: inline-block;
  padding: 5px;
  font-weight: bold;
}

ul.gmenu > li a {
  font-size: 1.0625rem;
  color: #656464;
}

ul.gmenu ul {
  display: none;
}

ul.gmenu > li:hover ul.oomaka {
  display: block;
  height: auto;
  position: absolute;
  background-color: #C0C0C0;
  padding: 5px;
  margin-left: -5px;
}

ul.gmenu ul.oomaka ul.kuwasiku {
  display: none;
  padding: 5px;
}

ul.oomaka li:hover ul.kuwasiku {
  display: block;
  height: auto;
  position: absolute;
  background-color: #C0C0C0;
}

ul.gmenu ul > li {
  display: block;
  padding: 5px 10px;
}

ul.gmenu .oomaka li:hover {
  background-color: #00007D;
}

ul.gmenu .oomaka li:hover a {
  color: #8C8DB4;
}

#footernav ul.gmenu > li {
  position: relative;
}

#footernav ul.gmenu > li:hover ul.oomaka {
  bottom: 0.3125rem;
  margin-bottom: 3.125rem;
  white-space: nowrap;
}

.oomaka > li {
  position: relative;
}

.oomaka > li:hover ul {
  left: 8.75rem;
  bottom: 0.125rem;
  white-space: nowrap;
}

/*----------------------------
gallery
-------------------------------*/
.carousel-item img {
  max-height: 200px;
}

.carousel-item p {
  margin-right: 30px;
}

.carousel-item a {
  padding: 50px 0  50px;
  font-weight: bold;
  color: #cc1313;
}

.carousel-gallery__item {
  padding-left: 1rem;
}

.carousel-gallery__item img {
  max-height: 1rem;
  margin: 0 5px;
}

.g-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.g-col {
  width: calc(33.3% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.g-container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front,
.back,
.g-back {
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
}

.back {
  background-image: -webkit-repeating-linear-gradient(27deg, rgba(96, 220, 169, 0.7) 0%, rgba(148, 87, 238, 0.5) 52.85%, rgba(66, 83, 207, 0.5) 100%);
  background-image: -moz-repeating-linear-gradient(27deg, rgba(96, 220, 169, 0.5) 0%, rgba(148, 87, 238, 0.5) 52.85%, rgba(66, 83, 207, 0.5) 100%);
  background-image: -o-repeating-linear-gradient(27deg, rgba(96, 220, 169, 0.5) 0%, rgba(148, 87, 238, 0.5) 52.85%, rgba(66, 83, 207, 0.5) 100%);
  background-image: repeating-linear-gradient(63deg, rgba(96, 220, 169, 0.5) 0%, rgba(148, 87, 238, 0.5) 52.85%, rgba(66, 83, 207, 0.5) 100%);
}

.g-back {
  background-image: url(../img/dark.png);
}

.bg2 {
  background-image: url(../img/spportfolio.png);
}

.g-back::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.g-container:hover .front,
.g-container:hover .back,
.g-container:hover .g-back {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back,
.g-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.g-inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.g-container .back,
.g-container .g-back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.g-container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.g-container:hover .back,
.g-container:hover .g-back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.g-container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .g-inner p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .g-inner p:after {
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .g-inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 0.75rem;
}

@media (max-width: 1250px) {
  .g-col {
    width: calc(50% - 2rem);
    margin: 1rem;
    cursor: pointer;
  }
}

@media (max-width: 1250px) and (max-width: 768px) {
  .g-col {
    width: 100%;
    margin: 1rem;
    cursor: pointer;
  }
}

#jqPlot,
#jqPlot2 {
  max-width: 500px;
  max-height: 300px;
}

.midasi {
  font-size: 1.125rem;
  font-weight: bold;
  color: #00007D;
}

.setumei {
  margin-bottom: 250px;
}

.command {
  background: #171A1F;
}

.command_head {
  font-size: 1.125rem;
}

.command_head img {
  max-height: 1.125rem;
}

#formWrap {
  width: 100%;
  color: #0EEB0A;
  font-size: 1.125rem;
}

table.formTable {
  border-collapse: collapse;
}

table.formTable td,
table.formTable th {
  padding: 10px;
}

table.formTable th {
  width: 32%;
  font-weight: normal;
  text-align: left;
}

table.formTable td {
  width: 64%;
}

input,
textarea {
  border: 1px solid #0EEB0A;
  color: #0EEB0A;
}

.form-text {
  display: flex;
}

th span {
  color: #cc1313;
  font-size: 0.75rem;
}

@media (max-width: 768px) {
  #formWrap {
    width: 100%;
    margin: 0 auto;
  }
  table.formTable th,
  table.formTable td {
    border: initial;
    width: auto;
    display: block;
  }
  table.formTable th {
    margin-top: 5px;
    border-bottom: 0;
  }
  input[type="text"],
  textarea {
    width: 80%;
    padding: 5px;
    font-size: 1rem;
    display: block;
  }
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    display: block;
    width: 100%;
    height: 40px;
  }
  .form-text {
    display: block;
  }
}

@media screen and (max-width: 768px) and (max-width: 420px) {
  #formWrap {
    color: #333;
  }
  input,
  textarea {
    border: 1px solid #D3E4FA;
    color: #333;
  }
}

@media (max-width: 768px) {
  .pc_col2 {
    width: 75%;
  }
  .pc_col3 {
    display: none;
  }
  footer small {
    padding: initial;
    padding: 1.5rem;
  }
}

@media (max-width: 768px) and (max-width: 420px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  body {
    background: #ffffff;
  }
  header {
    background: #D3E4FA;
    padding: 8px 10px;
  }
  .pc_article {
    margin: 15px 5px;
  }
  /*--------------
	sp menu
	--------------*/
  header .sp img {
    max-height: 30px;
  }
  header .sp h1 {
    font-size: 1rem;
    display: inline-block;
  }
  .sp_footer {
    height: 165px;
    position: relative;
    background: #D3E4FA;
  }
  .sp_footer .img_sentaku {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .sp_footer .img_modoru {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .sp_footer .img_menu {
    position: absolute;
    bottom: 15px;
    left: 10px;
  }
  .sp_footer .img_daimaru {
    max-width: 140px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .sp_footer .img_maru {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .sp_footer .img_migi {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 24%;
    right: 0;
    margin: auto;
  }
  .sp_footer .img_hidari {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 24%;
    margin: auto;
  }
  .sp_footer .img_ue {
    position: absolute;
    top: 0;
    bottom: 62%;
    left: 0;
    right: 0;
    margin: auto;
  }
  .sp_footer .img_sita {
    position: absolute;
    top: 62%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  /*---sp_footer---*/
  .fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  /*--------------
	nakami
	-----------------*/
  .nakami {
    background: #ffffff;
  }
  .nakami article {
    background: #ffffff;
  }
  main {
    margin-bottom: 170px;
  }
  .row_sp {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-top: -30px;
    margin-left: -20px;
    pointer-events: none;
  }
  .col_sp {
    padding-top: 5px;
    padding-left: 2.5px;
    width: 33.3333% !important;
  }
  .col_sp > * {
    pointer-events: auto;
  }
  .spmenujs {
    margin: 15px 0 200px;
    padding: 15px 0 0 15px;
  }
  /*-----------------

------------------*/
  .pc_row {
    display: block;
  }
  .pc_col1 {
    width: 100%;
  }
  .pc_col2 {
    width: 100%;
  }
  .pc_col3 {
    width: 100%;
  }
}

/*--media--*/
