@charset 'utf-8';

@import '_common.scss';
@import 'import/page/_base.scss';
@import 'import/page/_gallery.scss';
@import 'import/page/_profile.scss';
@import 'import/page/_skill.scss';
@import 'import/page/_form.scss';
@import 'import/page/_responsive.scss';


