@charset "UTF-8";
/*--------------------
位置の設定　grid
---------------------*/
.pc_row {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -20px;
  pointer-events: none;
}

.pc_col1 {
  padding-top: 30px;
  padding-left: 20px;
  width: 20%;
}

.pc_col2 {
  padding-top: 30px;
  padding-left: 20px;
  width: 58%;
}

.pc_col3 {
  padding-top: 30px;
  padding-left: 20px;
  width: 20%;
}

.pc_col1 > *,
.pc_col2 > *,
.pc_col3 > * {
  pointer-events: auto;
}

/*-------------------
header
--------------------*/
header ul {
  max-width: 300px;
  margin-top: 50px;
  position: fixed;
  top: 0px;
  left: 2%;
}

header ul .h-icon,
header ul .icon {
  text-align: center;
  color: color(white);
  display: block;
  padding: 15px;
}

header ul .h-icon img,
header ul .icon img {
  max-width: 60px;
}

/*-------------------
main 変わらん所　頭の所
*------------------*/
main {
  max-width: 900px;
  max-height: 75%;
  margin-top: 250px;
}

.bar {
  background-image: -webkit-linear-gradient(180deg, #0f83d0 0%, #000182 100%);
  background-image: -moz-linear-gradient(180deg, #0f83d0 0%, #000182 100%);
  background-image: -o-linear-gradient(180deg, #0f83d0 0%, #000182 100%);
  background-image: linear-gradient(270deg, #0f83d0 0%, #000182 100%);
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 5px;
  box-shadow: 0 0 4px inset color(gray-dark);
}

.bar h2 {
  color: color(white);
  display: inline-block;
}

.bar_txt {
  margin-left: 30px;
}

.bar img {
  margin: 5px 10px;
  max-height: rem(25);
  width: auto;
}

article {
  padding: 3px 8px 10px;
  background-color: color(gray-white);
  height: 80vh;
  overflow: hidden;
}

.pc_article {
  margin-top: 70px;
}

/*----------------------
section　中身
----------------------*/
.nakami {
  height: 72vh;
  display: block;
  background: color(inner-bg);
  overflow-y: scroll;
}

.nakami h3 {
  font-size: rem(15);
  padding: 10px 15px;
  background: color(inner-color);
  box-shadow: 0 0 4px inset coloer(inner-shadow);
}

.nakami p {
  padding: rem(15) 15px;
}

/*-----------------------
footer
---------------------*/
footer small {
  height: rem(50);
  background-image: url("../img/copy.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: rem(13);
  padding: rem(20) rem(15);
}

footer small .footnav {
  display: none;
}

footer .sitano1 {
  width: 100vw;
  background-image: url("../img/barsita.png");
  background-repeat: repeat-x;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  max-height: 50px;
}

footer .sitano {
  justify-content: flex-start;
}

footer .start {
  max-height: rem(50);
}

.iconbaitai {
  background-image: url("../img/tate.png"), url("../img/tate.png");
  background-repeat: no-repeat;
  background-position: right,left;
  background-size: contain;
  padding: 0 20px;
  margin-left: 5px;
  min-height: rem(20);
}

.iconbaitai img {
  max-height: rem(25);
  padding: 0 5px;
  margin: 0 2px;
  margin-top: rem(15);
}

/*------------------
footnav
-----------------*/
ul.gmenu {
  margin: 0;
  padding: 0;
  background-color: color(gray-white);
}

ul.gmenu > li {
  display: inline-block;
  padding: 5px;
  font-weight: bold;
}

ul.gmenu > li a {
  font-size: rem(17);
  color: color(gray-black);
}

ul.gmenu ul {
  display: none;
}

ul.gmenu > li:hover ul.oomaka {
  display: block;
  height: auto;
  position: absolute;
  background-color: color(gray-white);
  padding: 5px;
  margin-left: -5px;
}

ul.gmenu ul.oomaka ul.kuwasiku {
  display: none;
  padding: 5px;
}

ul.oomaka li:hover ul.kuwasiku {
  display: block;
  height: auto;
  position: absolute;
  background-color: color(gray-white);
}

ul.gmenu ul > li {
  display: block;
  padding: 5px 10px;
}

ul.gmenu .oomaka li:hover {
  background-color: color(hover-txt);
}

ul.gmenu .oomaka li:hover a {
  color: color(gray);
}

#footernav ul.gmenu > li {
  position: relative;
}

#footernav ul.gmenu > li:hover ul.oomaka {
  bottom: rem(5);
  margin-bottom: rem(50);
  white-space: nowrap;
}

.oomaka > li {
  position: relative;
}

.oomaka > li:hover ul {
  left: rem(140);
  bottom: rem(2);
  white-space: nowrap;
}
