.nakami_omipad {
  height: 35px;
  border-bottom: 6px solid;
  border-image: url(../img/borderbb.png) 20 fill repeat;
}

.fileheader li a img {
  height: rem(25);
  margin: 0 5px;
  padding: 0 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px;
}

.padin {
  margin-left: 10px;
}

.nakami_sectionP {
  background: #f8f1f1;
}

.typ {
  opacity: 0;
}

.typ span {
  opacity: 0;
}

.lightblue {
  color: #008080;
}

.commentout {
  color: #008000;
}

.blue {
  color: #000080;
}

.strongblue {
  color: #0000ff;
  font-weight: bold;
}

.purple {
  color: #8000ff;
}

.gray {
  color: #808080;
}

.modal {
  display: none;
  height: 80vh;
  position: fixed;
  top: 0;
  width: 80%;
}

.modal__bg {
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.decoration {
  font-weight: bold;
  font-size: rem(30);
  color: #072af1;
}

.ta {
  text-align: center;
}

.ta img {
  padding-bottom: 1em;
}
