@media (max-width: 768px) {
  .pc_col2 {
    width: 75%;
  }
  .pc_col3 {
    display: none;
  }
  footer small {
    padding: initial;
    padding: 1.5rem;
  }
}

@media (max-width: 768px) and (max-width: 420px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  body {
    background: color(white);
  }
  header {
    background: color(head-bg);
    padding: 8px 10px;
  }
  .pc_article {
    margin: 15px 5px;
  }
  /*--------------
	sp menu
	--------------*/
  header .sp img {
    max-height: 30px;
  }
  header .sp h1 {
    font-size: rem(16);
    display: inline-block;
  }
  .sp_footer {
    height: 165px;
    position: relative;
    background: color(head-bg);
  }
  .sp_footer .img_sentaku {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .sp_footer .img_modoru {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .sp_footer .img_menu {
    position: absolute;
    bottom: 15px;
    left: 10px;
  }
  .sp_footer .img_daimaru {
    max-width: 140px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .sp_footer .img_maru {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .sp_footer .img_migi {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 24%;
    right: 0;
    margin: auto;
  }
  .sp_footer .img_hidari {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 24%;
    margin: auto;
  }
  .sp_footer .img_ue {
    position: absolute;
    top: 0;
    bottom: 62%;
    left: 0;
    right: 0;
    margin: auto;
  }
  .sp_footer .img_sita {
    position: absolute;
    top: 62%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  /*---sp_footer---*/
  .fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  /*--------------
	nakami
	-----------------*/
  .nakami {
    background: color(white);
    padding-bottom: 250px;
  }
  .nakami article {
    background: color(white);
  }
  main {
    margin-bottom: 170px;
  }
  .row_sp {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-top: -30px;
    margin-left: -20px;
    pointer-events: none;
  }
  .col_sp {
    padding-top: 5px;
    padding-left: 2.5px;
    width: 33.3333% !important;
  }
  .col_sp > * {
    pointer-events: auto;
  }
  .spmenujs {
    margin: 15px 0 200px;
    padding: 15px 0 0 15px;
  }
  /*-----------------

------------------*/
  .pc_row {
    display: block;
  }
  .pc_col1 {
    width: 100%;
  }
  .pc_col2 {
    width: 100%;
  }
  .pc_col3 {
    width: 100%;
  }
}

/*--media--*/
