$colors: (
    white: #ffffff,
    gray-white: #C0C0C0,
    gray: #8C8DB4,
    gray-dark: #353F5A,
    gray-black: #656464,
    gray-soft: #C7C7C7,


    // base-color
    base: #008080,
    base-txt: #333,
    inner-bg :#ccc,
    inner-color :#E1DBDC,
    inner-shadow :#999999,


    // header
    head-bg: #D3E4FA,

    //hover
    hover-txt : #00007D,


    // accent-color
    accent: #cc1313,

    // form
    form-bg : #171A1F,
    form-txt : #0EEB0A,
    form-bd: #003700,

);

// **
// * 色変数を取得する
// * @param {Stirng} $key $colorsのキー
// * @param {?Float} $opacity 不透明度 0 ~ 1.0
// * @return {String} カラーコードまたはrgba
// ************************************************
@function color($key, $opacity: null) {
    @if $opacity !=null {
        @return rgba(map-get($colors, $key), $opacity);
    }

    @return map-get($colors, $key);
}


//* 書き方 並みかっこの中に入れる｛　color: color(base-txt);　｝