@charset "UTF-8";
/* CSS Document */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Hannari";
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  opacity: 0.6;
}

.flex {
  display: flex;
}

.ja {
  justify-content: space-between;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
}

/* スクロールの幅の設定 */
::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}

/* スクロールの背景の設定 */
::-webkit-scrollbar-track {
  background-image: linear-gradient(180deg, black 0%, #4a1b4a 100%);
  box-shadow: 0 0 4px #eb59d3 inset;
}

/* スクロールのつまみ部分の設定 */
::-webkit-scrollbar-thumb {
  border-radius: 7px;
  height: 30px;
  background: rgba(218, 102, 218, 0.575);
}

body {
  background-image: -webkit-linear-gradient(270deg, black 0%, #4a1b4a 100%);
  background-image: -moz-linear-gradient(270deg, black 0%, #4a1b4a 100%);
  background-image: -o-linear-gradient(270deg, black 0%, #4a1b4a 100%);
  background-image: linear-gradient(180deg, black 0%, #4a1b4a 100%);
  width: 100vw;
  overflow-x: hidden;
}

header {
  background: #27023A;
  height: 60px;
}

ul.header {
  display: flex;
  list-style-type: none;
  position: absolute;
  top: -30px;
  left: 50%;
}

ul.header li a {
  background-color: #4E3413;
  transform: skewX(-25deg);
  margin: 0 20px;
  display: block;
  text-decoration: none;
  padding: 35px 5px 5px;
  color: #fff;
  z-index: 50;
}

ul.header li a img, ul.header li a span {
  height: 50px;
}

ul.header li a:hover {
  background-color: blueviolet;
}

ul.header li a span {
  transform: skewX(25deg);
  display: block;
}

.fuwafuwa {
  display: block;
  -webkit-animation-name: fuwafuwa;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  /*-webkit-animation-direction:alternate;*/
  -webkit-animation-timing-function: ease;
  -moz-animation-name: fuwafuwa;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  /*-moz-animation-direction:alternate;*/
  -moz-animation-timing-function: ease;
}

@-webkit-keyframes fuwafuwa {
  0% {
    -webkit-transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}

@-moz-keyframes fuwafuwa {
  0% {
    -moz-transform: translate(0, 0);
  }
  50% {
    -moz-transform: translate(0, -10px);
  }
  100% {
    -moz-transform: translate(0, 0);
  }
}

/*----------------hero-----------*/
.hero {
  max-width: 1800px;
  max-height: 1200px;
  position: relative;
}

.hero .box {
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

div#box1 {
  position: absolute;
  top: 80px;
  z-index: 20;
}

div#box2 {
  position: absolute;
  top: 80px;
  z-index: 10;
}

div#box3 {
  position: absolute;
  top: 80px;
  z-index: 5;
}

div#box4 {
  position: absolute;
  top: 80px;
  z-index: 1;
}

nav {
  padding-top: 1050px;
}

nav .navlist li {
  padding-top: 50px;
}

nav .navlist li:nth-child(odd) {
  padding-top: 120px;
}

nav .text {
  text-align: center;
}

nav .text h2 {
  color: #cb95e4;
  font-size: 60px;
  z-index: 300;
}

nav .text p {
  color: #a478b8;
  font-size: 25px;
}

/*-----------main------------*/
.ayur {
  background: rgba(0, 0, 0, 0.63);
  border-radius: 100px;
  text-align: center;
}

.ayur h2 {
  font-size: 90px;
  color: #f1e8e8;
}

.ayur p {
  color: #deaced;
  display: block;
  padding: 1em;
  font-size: 25px;
}

.ayur img {
  min-width: 300px;
  padding: 0 70px 30px;
}

.banner img {
  padding: 50px 25px;
}

#page-nav {
  position: fixed;
  /* bodyに対しての絶対位置指定 */
  right: 0px;
  top: 75%;
  cursor: pointer;
  z-index: 200;
  width: 120px;
}

#page-nav a {
  display: block;
  width: 120px;
}

/*------footer-------*/
footer {
  background: #240e24;
  height: 55px;
}

footer .footer {
  text-align: center;
  margin-top: 10px;
}

footer .footer small {
  color: #c684fe;
  font-size: 16px;
}

.none {
  display: none;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    width: inherit;
    margin: 0 50px;
  }
  .hero {
    height: 500px;
  }
  nav {
    padding: inherit;
    padding-top: 800px;
  }
  .ayur {
    border-radius: 10px;
  }
  .ayur h2 {
    font-size: 60px;
  }
  .ayur p {
    font-size: 30px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 900px) {
  .hero {
    height: 500px;
  }
  nav {
    padding: inherit;
    padding-top: 760px;
  }
}

@media screen and (max-width: 1200px) {
  .ayur h2 {
    font-size: 30px;
  }
  .ayur p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) and (max-width: 768px) {
  .hero {
    height: 350px;
  }
  nav {
    padding: inherit;
    padding-top: 500px;
  }
  nav .text h2 {
    font-size: 40px;
  }
  nav .text p {
    font-size: 16px;
  }
  .ayur p {
    font-size: 16px;
  }
  .ayur .banner {
    padding: inherit;
  }
}

@media screen and (max-width: 1200px) and (max-width: 768px) and (max-width: 520px) {
  .wrapper {
    margin: inherit;
  }
  .hero {
    height: 150px;
  }
  nav {
    padding: inherit;
    padding-top: 300px;
  }
  .banner img {
    padding: inherit;
    padding: 10px 5px;
  }
  #page-nav {
    top: 65%;
  }
  .none {
    display: block;
  }
}
