@charset "utf-8";

/* 韓国語ハートのフォント→　font-family: 'Single Day', cursive; */
/* 中国語フォント→　font-family: 'ZCOOL KuaiLe', cursive; */

* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
	color: #ba55d3;
}

body {
	margin: 0;
	padding: 0;;
	font-family:　sans-serif;
}

header {
	padding: 1em 0;
	background-color: #e6e6fa;
	text-align: center;
}

footer {
	padding: 1em;
	text-align: center;
	background-color: #e6e6fa;
}

main {
	width: 900px;
	margin: 0 auto;
	background-color:#fff0f5;

}
.wrappr {
	background-image: url("../images/kumanohaikei.png");
	background-repeat: repeat;
	opacity: 0.7;
	background-color: #fffafa;
}

/**各種パーツ達↓**/

.kuma {
	min-height: 100px;
	padding: 0 100px;
	background-image :url("../images/kuma.png");
	background-repeat:no-repeat;
	background-position:left center;
	display: flex;
	align-items:center;
	width: 500px;
	margin: 20px auto;
}


.usagi {
	min-height: 100px;
	padding: 0 100px;
	background-image :url(../images/usagi.png);
	background-repeat:no-repeat;
	background-position:right center;
	display: flex;
	align-items:center;
	width: 500px;
	margin: 20px auto;}

.kumausa span {
	padding: 1em;
	background-color: white;
	display:inline-block;
	width: 100%;
	
}



.hobby img {
	width: 10%;
	max-width: 188px;
	border-radius: 50%;
	float: auto;
}

.last {
	text-align: center;
}


/**文字フォント設定の↓**/

.mozi {
	font-family: "Nikukyu";
	text-align: center;
	color: #da70d6;
}

.moziko {
	font-family: 'Single Day', cursive; 
	text-align: center;
	color: #da70d6;
	font-size: x-large;
}
.mozikr {
	font-family: 'Single Day', cursive; 
	text-align: center;
}

.mozizh {
	font-family:　'ZCOOL KuaiLe', cursive;
	text-align: center;
	color: #da70d6;
	font-size: large;
}

.mozich {
	font-family: 'ZCOOL KuaiLe', cursive;
	text-align: center
}







/**多言語フォームの↓**/

#langChenge input[type="radio"]{
  display    : none;
}

#langChenge label{
  display    : inline-block;
  border     : 1px solid #ccc;
  box-shadow : 2px 2px #999;
  padding    : 2px 6px;
}

#langJa:not(:checked) ~ * *:lang(ja) {
  display    : none;
}
#langKo:not(:checked) ~ * *:lang(ko) {
  display    : none;
}
#langZh:not(:checked) ~ * *:lang(zh) {
  display    : none;
}
 

#langJa:checked ~ label[for="langJa"] {
  background : #b0c4de;
}
#langKo:checked ~ label[for="langKo"] {
  background : #b0c4de;
}
#langZh:checked ~ label[for="langZh"] {
  background : #b0c4de;
}

