@charset "utf-8";

html {
  font-size: 100%;
}

*,
*::before,
*::after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.flex {
  display: flex;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background:  #cfc;
  font-weight: bold;
}

/*---------------header----------------*/
.logo {
  width: 350px;
  padding: 20px 30px;
}

#home {
  background-image: url(../img/hero.jpg);
  min-height: 100vh;
}

.page-header {
  display: flex;
  justify-content: space-between;
  background-image: url(../img/nav-bg.jpg);
  background-repeat: repeat;
}

/*---------------naviの所----------------*/

nav ul a {
  color: #260;
  font-size: 20px;
  padding-right: 30px;
  font-weight: bold;
}
nav li {
  margin-top: 30px;
}
/*---------------吹き出しの所----------------*/
.hukidasi {
  text-align: center;
  background: rgba(255,255,255,0.6);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 708px;
}

.hukidasi h1 {
  margin: 20px 30px;
  display: inline-block;
  color: #420;
}

.hukidasi a {
  color: #fff;
  background: #260;
  padding: 1em;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 20px;
}

/*---------------.big-bg----------------*/
.big-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*---------------main----------------*/

h3 {
  padding: 15px 30px;
  background-image: url(../img/nav-bg.jpg);
  background-repeat: repeat;
  color: #420;
  font-size: 24px;
  
}

/*---------------news----------------*/
.news {
  padding: 0 30px;
}

.news h3 {
  margin: 55px 0 30px;
}

.nittei {
  background-color: #fff;
  border-radius: 10px;
}

dt {
  color: #420;
  font-weight: bold;
  font-size: 16px;
}

dd {
  margin-left: 2em;
  margin-bottom: 1em;
  font-weight: normal;
  font-size: 16px;
}

dd a {
  color: #260;
}

dl {
  padding: 30px;
}

.news img {
  margin: 30px 0 100px;
}

/*--------------event-----------------*/
.event {
  padding: 0 30px
}

.doubutu {
  background-color: #fff;
  border-radius: 10px;
  min-width: 455px;
  text-align: center;
  margin-top: 30px;
}

.doubutu img {
  padding: 30px 30px 15px 30px;
}

.doubutu h2 {
  color: #333;
  text-align: center;
  font-size: 26px;
  margin: 15px 0;
}

.doubutu p {
  color: #C1272D;
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
}

.doubutu a {
  color: #fff;
  background: #260;
  padding: 1em;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-bottom: 30px;
}

.narande {
  display: grid;
  grid-gap: 30px;
  row-gap: 30px;
  column-gap: 30px;
  grid-template-columns: 1fr 1fr;
}


/*--------------access-----------------*/

.narandene {
  background: #fff;
  border-radius: 10px;
  margin-top: 30px;
}

.eigyou{
  width: 50%;
}

.ryoukin {
  width: 50%;
  padding: 30px;
}



.access {
  padding: 0 30px;
}


.eigyou p {
  font-size: 16px;
  text-indent: 30px;
  font-weight: normal;
}

.eigyou p span {
  font-size: 16px;
  color: #420;
  text-indent: 30px;
  margin-top: 30px;
  font-weight: bold;
}


/*--------------ryoukin-----------------*/

csption {
  color: #420;
  font-size: 16px;
}

th {
  font-size: 16px;
  font-weight: bold;
  background-color: #FFB85C;
}

th span {
  font-size: 12px;
  padding: 1em;
  margin: 2px;
}
td {
  background-color: #EFEFEF;
  padding: 1em;
  margin: 2px;
}

/*--------------footer-----------------*/

footer {
  margin-top: 50px;
  padding: 2em 0 1em;
  background-image: url(../img/footer.png);
  background-repeat: repeat-x;
  text-align: center;
}

small p {
  margin: 50px 0 20px;
  
/*---------------------------------
  
  ------------------------------*/
  
}@media (max-width: 767px) {
  .narande {
    grid-template-columns: 1fr;

  }

  header {
    text-align: center;
    flex-direction: column;
  }
  
  header logo {
    padding: 20px;
  }
  header a {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 20px;
  }
  
  header ul {
    justify-content: center;
    margin-bottom: 10px;
  }
  
  
}




